img {
    height: 150px;
}

table {
    padding: 15px;
    width: 100%;
    border: 1px solid black;

}
td {padding-left: 15px;}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: lightgrey;}